body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

p, h1, h2 {
    margin: 0;
}

ul {
    list-style: none;
}


/*.fa-cat-space {
    color: white;
    width:100px;
    height: 100px;
}*/

.right-navigation > * {
    display: flex;
    gap: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.hero-section {
    color: #f9faf8;
    background-color: #1f2937;
    /*background:transparent url(./images/swirl_pattern.webp) top left;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 180px;
}

.hero-section > div {
    display: flex;
    flex: 1 1 350px;
    flex-direction: column;
    padding: 20px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bolder;
}
.hero-section p {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 25px;
    padding-bottom: 30px;
}

.hero-section button {
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-width: 0px;    
}

.hero-image {
    border: 15px solid white;
    box-shadow: 5px 10px 8px #272727;
}

.random-section {
    padding-bottom: 100px;
}

.random-information-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-information-title h2 {
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    padding: 40px 0px;
}

.random-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding: 0px 275px;
}

.random-information > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 230px;
    text-align: center;
}

.random-information img {
    border: 5px solid #3882F6;
    box-shadow: 5px 10px 8px #e0e0e0;
    border-radius: 20px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.quote-section > * {
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 800px;
}

.quote-name {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}