body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
}

nav {
    background-color: #026ac3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #343434;
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:hover {
    color: #00ffff;
}

footer a {
    color: white;
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
}

.right-navigation > * {
    display: flex;
    gap: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.hero-section {
    color: #f9faf8;
    background-color: #123b6e;
    /*background:transparent url(./images/swirl_pattern.webp) top left;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 180px;
}

.hero-section > div {
    display: flex;
    flex: 1 1 350px;
    flex-direction: column;
    padding: 20px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bolder;
}
.hero-section p {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 25px;
    padding-bottom: 30px;
}

.hero-section button {
    background-color: #fdc442;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #343434;
    border-width: 0px;    
}

.hero-image {
    border: 15px solid white;
    box-shadow: 5px 5px 4px #262e30;
}

.random-section {
    color: #5e5e5e;
    padding-bottom: 100px;
}

.random-information-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-information-title h2 {
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    padding: 40px 0px;
}

.random-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding: 0px 275px;
}

.random-information > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 230px;
    text-align: center;
}

.random-information h3 {
    padding-top: 25px;
}

.random-information img {
    border: 5px solid #fdc442;
    box-shadow: 5px 10px 8px #e0e0e0;
    border-radius: 20px;
}

.random-information img:hover {
    opacity: 0.6;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.quote-section > * {
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 800px;
}

.quote-name {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

.cta-container {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 30px 120px;
    border-radius: 10px;
    gap: 200px;
}

.cta-container h3 {
    padding-bottom: 10px;
}

.cta-container-col-1 {
    color: #e5e7eb;
}

.cta-container button {
    background-color: #fdc442;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #343434;
    border-width: 3px;
    border-color: #e5e7eb;
    border-style:solid; 
}

.footer-text {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}